# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
backcall
blas
certifi
colorama
decorator
entrypoints
icc_rt
intel-openmp
ipykernel
ipython
ipython_genutils
jedi
jupyter_client
jupyter_core
libsodium
mkl
mkl-service
mkl_fft
mkl_random
numpy
numpy-base
openssl
pandas
pandasql
parso
pickleshare
pip
prompt-toolkit
psutil
py4j
pygments
pyspark
python=3.7
python-dateutil
pytz
pywin32
pyzmq
setuptools
six
sqlalchemy
sqlite
tornado
traitlets
vc
vs2015_runtime
wcwidth
wheel
wincertstore
zeromq
zlib